includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  level: 0
  paths:
    - app/Actions
    - app/Console
    - app/Http
    - app/Jobs
    - app/Queries
    - app/Services/Location
    - config
    - database/factories
    - database/migrations
    - database/seeders
    - routes/api.php
    - routes/web.php
    - routes/web
  excludePaths:
    analyse:
      - app/**/*.Source.php
      - app/Http/Controllers/Admin/ImportExport/*.php
      - routes/console.php
  scanFiles:
    - stubs/Editions.stub
    - stubs/EmployeeDocumentRequestService.stub
    - stubs/RunSystemBackup.stub
  parallel:
    maximumNumberOfProcesses: 1
